.vertical-center {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  font-family: 'Unkempt', cursive;
}

#main {
  height: 80vh;
}

h1 {
  font-size: 7rem;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  margin: 0;
}

h2 {
  font-size: 3rem;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  margin: 0;
}

h3 {
  font-size: 2.5rem;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  margin: 0;
}

.center {
  text-align: center;
  height: 70vh;
  width: 880px;
  margin: auto auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.input-line {
  width: 500px;
  display: flex;
  justify-content: space-around;
}

input {
  font-family: monospace;
  font-size: 2rem;
  text-align: center;
  border-radius: 20px;
  border: 0;
  outline: 0;
  height: 3rem;
}

.text-line {
  color: #777;
  width: 350px;
}

.button {
  width: 120px;
  font-weight: 600;
  font-family: 'Unkempt', cursive;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  background-color: rgba(255, 255, 255, 0.25);
}

.button-hover {
  background-color: rgba(255, 255, 255, 0.25);
  transition: 0.3s;
}

.button-hover:hover {
  background-color: rgba(255, 255, 255, 0.5);

}

input:focus {
  outline: none !important;
}

label {
  font-size: 1.5rem;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

form {
  background-color: rgba(255, 255, 255, 0.21);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 150px;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .center {
    width: 90vw;
  }

  #content {
    width: 90vw !important;
  }
}

@media screen and (max-width: 570px) {
  .input-line {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

canvas {
  position: fixed;
  z-index: -1;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.top-bar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-section {
  width: 400px;
  text-align: center;
}

.right-section {
  width: 300px;
  margin-top: 1rem;
  text-align: center;
}

#room-code {
  font-size: 4.9rem;
  font-family: monospace;
}

@media screen and (max-width: 680px) {
  .center {
    width: 90vw;
  }

  .left-section h1 {
    font-size: 17vw;
  }

  .left-section {
    width: 55vw;
  }

  .right-section {
    width: 45vw;
  }

  .right-section h3 {
    font-size: 6vw;
  }

  #room-code {
    font-size: 12vw;
  }
}

#content {
  text-align: center;
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12rem;
  padding-bottom: 13rem;
}

.bottom-answer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 1rem;
}

#postForm {
  position: relative;
  height: auto;
  min-height: 150px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(40, 11, 72, 0.9);
}

.answer-line {
  color: #777;
  width: 950px;
}

#postForm .input-line {
  width: 1100px;
  padding-bottom: 1rem;
}

#prompt {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 1280px) {
  #postForm {
    width: 100%;
    padding-bottom: 1rem;
    border-radius: 20px 20px 0 0;
  }

  #postForm .input-line {
    width: 92vw;
  }

  .bottom-answer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

#status {
  font-size: 2rem;
}

#message {
  font-size: 1.5rem;
}

section {
  margin-bottom: 1rem;
}

.response {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(40, 11, 72, 0.5);
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: left;
  border-radius: 20px 20px 20px 0;
  font-size: 2rem;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
  margin-bottom: 0;
}

.triangle {
  content: "";
  width: 0px;
  height: 0px;
  margin-top: 0;
  margin-bottom: 0;
  border-left: 10px solid rgba(40, 11, 72, 0.5);
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(40, 11, 72, 0.5);
  border-bottom: 10px solid transparent;
}

p {
  margin: 0 2rem;
  padding: 0;
}